<nav class="navbar navbar-dark bg-primary mb-3">
    <div class="container">
        <a href="" class="navbar-brand">
            <img src="/assets/images/octocat.svg" alt="Logo" height="48">
        </a>

        <form class="form-inline" (submit)="search()">
            <input [(ngModel)]="userSearch" name="userSearch" type="search" class="form-control mr-2" placeholder="Find a user...">
            <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
    </div>
</nav>